<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../../partials/head %>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-datepicker.min.css">
</head>

<body>
    <% include ../../../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue text-uppercase" id="home">
        <h1 class="d-none">Adicionar Novo Menu - Administrador</h1>

        <div class="container" id="alerts">
            <% include ../../../partials/alerts %>
        </div>

        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/profile" class="text-decoration-none">Perfil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Adicionar Menu</li>
                </ol>
            </nav>

            <div class="card shadow">
                <div class="card-header">
                    Adicionar Menu
                </div>
                <form action="" method="POST">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <div class="card mb-3">
                                    <div class="card-header d-flex justify-content-center">
                                        Semana do Cardápio
                                    </div>
                                    <div class="card-body">
                                        <div id="week-picker" class="date d-flex justify-content-center"></div>
                                    </div>
                                </div>
                                <div class="list-group disabled-div" id="list-tab" role="tablist">
                                    <a onclick="selectDay(1);"
                                        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action active"
                                        id="listDay1" data-toggle="list" role="tab" href="#" aria-controls="monday">

                                        <span id="dayStatus1"><i class="fas fa-times"></i></span>

                                        Segunda

                                        <small id="dayDate1"></small>
                                    </a>

                                    <a onclick="selectDay(2);"
                                        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="listDay2" data-toggle="list" role="tab" href="#" aria-controls="tuesday">

                                        <span id="dayStatus2"><i class="fas fa-times"></i></span>

                                        Terça

                                        <small id="dayDate2"></small>
                                    </a>

                                    <a onclick="selectDay(3);"
                                        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="listDay3" data-toggle="list" role="tab" href="#" aria-controls="wednesday">

                                        <span id="dayStatus3"><i class="fas fa-times"></i></span>

                                        Quarta

                                        <small id="dayDate3"></small>
                                    </a>

                                    <a onclick="selectDay(4);"
                                        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="listDay4" data-toggle="list" role="tab" href="#" aria-controls="thursday">

                                        <span id="dayStatus4"><i class="fas fa-times"></i></span>

                                        Quinta

                                        <small id="dayDate4"></small>
                                    </a>

                                    <a onclick="selectDay(5);"
                                        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="listDay5" data-toggle="list" role="tab" href="#" aria-controls="friday">

                                        <span id="dayStatus5"><i class="fas fa-times"></i></span>

                                        Sexta

                                        <small id="dayDate5"></small>
                                    </a>

                                    <a onclick="selectDay(6);"
                                        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="listDay6" data-toggle="list" role="tab" href="#" aria-controls="saturday">

                                        <span id="dayStatus6"><i class="fas fa-times"></i></span>

                                        Sábado

                                        <small id="dayDate6"></small>
                                    </a>

                                    <a onclick="selectDay(0);"
                                        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                        id="listDay0" data-toggle="list" role="tab" href="#" aria-controls="sunday">

                                        <span id="dayStatus0"><i class="fas fa-times"></i></span>

                                        Domingo

                                        <small id="dayDate0"></small>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="tab-content disabled-div" id="nav-tabContent">

                                    <!-- Day -->

                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <div class="btn-group input-group" role="group">
                                                <button type="button" class="btn btn-primary text-uppercase"
                                                    onclick="showCard(0);">Almoço</button>
                                                <button type="button" class="btn btn-dark text-uppercase"
                                                    onclick="showCard(1);">Janta</button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="card" id="lunchCard">
                                                <div class="card-header bg-white">
                                                    <i class="fas fa-sun mr-2"></i>
                                                    Almoço
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <!-- Carnes Almoço -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="lunchMeat">Carne</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="lunchMeat" name="lunchMeat[]">
                                                                <% locals.meats.forEach(meat => { %>
                                                                    <option value="<%= meat._id %>"><%= meat.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Vegetariano Almoço -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="lunchVegetarian">Vegetariano</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="lunchVegetarian"
                                                                name="lunchVegetarian[]">
                                                                <% locals.vegetarians.forEach(vegetarian => { %>
                                                                    <option value="<%= vegetarian._id %>"><%= vegetarian.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Acompanhamento Almoço -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="lunchSideDish">Acompanhamento</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="lunchSideDish"
                                                                name="lunchSideDish[]">
                                                                <% locals.sideDishes.forEach(sideDish => { %>
                                                                    <option value="<%= sideDish._id %>"><%= sideDish.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Sobremesa Almoço -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="lunchDessert">Sobremesa</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="lunchDessert"
                                                                name="lunchDessert[]">
                                                                <% locals.desserts.forEach(dessert => { %>
                                                                    <option value="<%= dessert._id %>"><%= dessert.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Bebida Almoço -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="lunchDrink">Bebida</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="lunchDrink"
                                                                name="lunchDrink[]">
                                                                <% locals.drinks.forEach(drink => { %>
                                                                    <option value="<%= drink._id %>"><%= drink.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card" style="display:none;" id="dinnerCard">
                                                <div class="card-header bg-white">
                                                    <i class="fas fa-moon mr-2"></i>
                                                    Janta
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <!-- Carnes Janta -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="dinnerMeat">Carne</label>
                                                            <select placeholder="ok" multiple data-live-search="true"
                                                                class="form-control" id="dinnerMeat"
                                                                name="dinnerMeat[]">
                                                                <% locals.meats.forEach(meat => { %>
                                                                    <option value="<%= meat._id %>"><%= meat.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Vegetariano Janta -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="dinnerVegetarian">Vegetariano</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="dinnerVegetarian"
                                                                name="dinnerVegetarian[]">
                                                                <% locals.vegetarians.forEach(vegetarian => { %>
                                                                    <option value="<%= vegetarian._id %>"><%= vegetarian.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Acompanhamento Janta -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="dinnerSideDish">Acompanhamento</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="dinnerSideDish"
                                                                name="dinnerSideDish[]">
                                                                <% locals.sideDishes.forEach(sideDish => { %>
                                                                    <option value="<%= sideDish._id %>"><%= sideDish.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Sobremesa Janta -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="dinnerDessert">Sobremesa</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="dinnerDessert"
                                                                name="dinnerDessert[]">
                                                                <% locals.desserts.forEach(dessert => { %>
                                                                    <option value="<%= dessert._id %>"><%= dessert.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <!-- Bebida Janta -->
                                                        <div class="col-sm-12 form-group">
                                                            <label for="dinnerDrink">Bebida</label>
                                                            <select multiple data-live-search="true"
                                                                class="form-control" id="dinnerDrink"
                                                                name="dinnerDrink[]">
                                                                <% locals.drinks.forEach(drink => { %>
                                                                    <option value="<%= drink._id %>"><%= drink.name %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button id="saveDailyBtn" day="1" type="button"
                                                class="btn btn-primary form-control" onclick="saveDaily();">Salvar
                                                Cardápio Diário</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="saveAllBtn" type="button" class="btn btn-success form-control" onclick="saveAllMenu();"
                            >Salvar Cardápio Geral</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="saveAllMenuModal" tabindex="-1" role="dialog"
        aria-labelledby="saveAllMenuModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header font-weight-bold">
                    <h5 class="modal-title" id="saveAllMenuModalTitle"><i class="fas fa-exclamation-triangle mr-2 text-danger"></i> Deseja Continuar?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body" id="saveAllMenuModalBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <button onclick="submitAllMenu();" type="submit" class="btn btn-danger">Salvar</button>
                </div>
            </div>
        </div>
    </div>


    <% include ../../../partials/footer %>
    <script src="/js/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/new-menu.js"></script>
</body>

</html>