<!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/css/datatables/datatables.min.css">
</head>

<body>
    <% include ../../partials/navbar %>

    <div class="container-fluid p-4 main-home background-blue" id="home">
        <h1 class="d-none">Perfil Restaurante Universitário - Administrador</h1>

        <div class="container text-uppercase">
            <% include ../../partials/alerts %>
        </div>

        <div class="container text-uppercase">
            <div class="card shadow">
                <div class="card-header">
                    Administração
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action active"
                                    id="list-intolerances-list" data-toggle="list" href="#list-intolerances" role="tab"
                                    aria-controls="intolerances">
                                    Intolerâncias

                                    <span class="badge badge-light shadow badge-pill">
                                        <%= locals.intolerances.length %></span>
                                </a>
                                <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                    id="list-menu-list" data-toggle="list" href="#list-menu" role="tab"
                                    aria-controls="menu">
                                    Cardápio

                                    <span class="badge badge-light shadow badge-pill">14</span>
                                </a>
                                <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                    id="list-users-list" data-toggle="list" href="#list-users" role="tab"
                                    aria-controls="users">
                                    Usuários

                                    <span class="badge badge-light shadow badge-pill">
                                        <%= locals.ruUsers.length %></span>
                                </a>
                                <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                                    id="list-admins-list" data-toggle="list" href="#list-admins" role="tab"
                                    aria-controls="admins">
                                    Administradores

                                    <span class="badge badge-light shadow badge-pill">
                                        <%= locals.admins.length %></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="tab-content" id="nav-tabContent">

                                <!-- INTOLERANCES -->
                                <div class="table-responsive tab-pane fade show active" id="list-intolerances"
                                    role="tabpanel" aria-labelledby="list-home-list">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            Intolerâncias
                                            <a href="/admin/intolerances/new"
                                                class="text-success text-decoration-none"><i
                                                    class="fas fa-plus-circle"></i></a>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Comida</th>
                                                        <th scope="col">Contaminação</th>
                                                        <th scope="col">Opções</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% locals.intolerances.forEach(intolerance => { %>
                                                    <tr scope="row">
                                                        <td>
                                                            <%= intolerance.food %>
                                                        </td>
                                                        <td
                                                            class="<%= intolerance.contamination ? 'text-danger' : 'text-success' %>">
                                                            <%= intolerance.contamination ? 'Contaminação' : 'Não Contaminação' %>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group btn-group-sm input-group" role="group"
                                                                aria-label="Intolerance Options">
                                                                <a href="/admin/intolerances/edit/<%= intolerance._id %>" class="btn btn-primary">
                                                                    <i class="far fa-edit"></i>
                                                                </a>
                                                                <button onclick="proceedToDeleteIntolerance('<%= intolerance._id %>');" type="button" class="btn btn-danger">
                                                                    <i class="far fa-trash-alt"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- MENU CARD -->
                                <div class="tab-pane fade" id="list-menu" role="tabpanel"
                                    aria-labelledby="list-profile-list">

                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            Cardápio Semanal
                                            <a href="" class="text-success text-decoration-none"><i
                                                    class="fas fa-plus-circle"></i></a>
                                        </div>
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>

                                <!-- USERS -->
                                <div class="table-responsive tab-pane fade" id="list-users" role="tabpanel"
                                    aria-labelledby="list-messages-list">

                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            Usuários
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nome</th>
                                                        <th scope="col">Matrícula</th>
                                                        <th scope="col">CPF</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% locals.ruUsers.forEach(ruUser => { %>
                                                    <tr scope="row">
                                                        <td>
                                                            <%= ruUser.name %>
                                                        </td>
                                                        <td>
                                                            <%= ruUser.registration %>
                                                        </td>
                                                        <td>
                                                            <%= ruUser.username %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- ADMINS -->
                                <div class="table-responsive tab-pane fade" id="list-admins" role="tabpanel"
                                    aria-labelledby="list-settings-list">

                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            Administradores
                                            <a href="/admin/admins/new" class="text-success text-decoration-none"><i
                                                    class="fas fa-plus-circle"></i></a>
                                        </div>

                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nome</th>
                                                        <th scope="col">Permissão</th>
                                                        <th scope="col">Informações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% locals.admins.forEach(admin => { %>
                                                    <tr scope="row">
                                                        <td>
                                                            <%= admin.name %>
                                                        </td>
                                                        <td>
                                                            <%= admin.role == -1 ? 'Administrador(a)' : admin.role == -2 ? 'Moderador(a)' : admin.role == -3 ? 'Contribuidor(a)' : 'Indefinido' %>
                                                        </td>
                                                        <td class="form-group">
                                                            <% if(user.role == -1) { %>
                                                            <!-- TODO: Admin Options-->
                                                                <div class="btn-group btn-group-sm input-group" role="group"
                                                                    aria-label="Intolerance Options">
                                                                    <a href="/admin/admins/edit/<%= admin._id %>" class="btn btn-primary">
                                                                        <i class="far fa-edit"></i>
                                                                    </a>
                                                                    <button onclick="proceedToDeleteAdmin('<%= admin._id %>');" type="button" class="btn btn-danger">
                                                                        <i class="far fa-trash-alt"></i>
                                                                    </button>
                                                                </div>
                                                            <% } else if(user.role == -2) { %>
                                                            <!-- TODO: Moderator Options-->
                                                            Informações
                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleConfirmationModal" tabindex="-1" role="dialog"
        aria-labelledby="deleConfirmationModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header font-weight-bold">
                    <h5 class="modal-title" id="deleteConfirmationModalTitle"><i class="fas fa-exclamation-triangle mr-2 text-danger"></i> Deseja Continuar?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body">
                    Atenção, se prosseguir o conteúdo será apagado permanentemente.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <form action="" method="POST" id="confirmDeleteForm">
                        <button type="submit" class="btn btn-danger">Continuar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include ../../partials/footer %>
    <script src="/js/main.js"></script>
    <script src="/js/admin-profile.js"></script>
    <script src="/js/datatables/datatables.min.js"></script>
</body>

</html>